<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnunez.moodme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoodSelection"
            android:label="@string/title_activity_mood_selection"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.Home" />
        </activity>
        <activity
            android:name=".FirstQuestions"
            android:label="@string/title_activity_first_questions"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.Home" />
        </activity>
        <activity
            android:name=".Happy"
            android:label="@string/title_activity_happy"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Sad"
            android:label="@string/title_activity_sad"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Angry"
            android:label="@string/title_activity_angry"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Excited"
            android:label="@string/title_activity_excited"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Relaxed"
            android:label="@string/title_activity_relaxed"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Romantic"
            android:label="@string/title_activity_lazy"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Irritated"
            android:label="@string/title_activity_irritated"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Hyper"
            android:label="@string/title_activity_hyper"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".Enraged"
            android:label="@string/title_activity_enraged"
            android:parentActivityName=".MoodSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.MoodSelection" />
        </activity>
        <activity
            android:name=".FeelWholeQuestions"
            android:label="@string/title_activity_feel_whole_questions"
            android:parentActivityName=".FirstQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FirstQuestions" />
        </activity>
        <activity
            android:name=".HeartPierceQuestions"
            android:label="@string/title_activity_heart_pierce_questions"
            android:parentActivityName=".FirstQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FirstQuestions" />
        </activity>
        <activity
            android:name=".FireBloodQuestions"
            android:label="@string/title_activity_fire_blood_questions"
            android:parentActivityName=".FirstQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FirstQuestions" />
        </activity>
        <activity
            android:name=".ResolveSteeledQuestions"
            android:label="@string/title_activity_resolve_steeled_questions"
            android:parentActivityName=".FeelWholeQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FeelWholeQuestions" />
        </activity>
        <activity
            android:name=".WishQuestions"
            android:label="@string/title_activity_wish_questions"
            android:parentActivityName=".FeelWholeQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FeelWholeQuestions" />
        </activity>
        <activity
            android:name=".UnsureQuestions"
            android:label="@string/title_activity_unsure_questions"
            android:parentActivityName=".FeelWholeQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FeelWholeQuestions" />
        </activity>
        <activity
            android:name=".SoulCryingQuestions"
            android:label="@string/title_activity_soul_crying_questions"
            android:parentActivityName=".HeartPierceQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.HeartPierceQuestions" />
        </activity>
        <activity
            android:name=".GnawingQuestions"
            android:label="@string/title_activity_gnawing_questions"
            android:parentActivityName=".HeartPierceQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.HeartPierceQuestions" />
        </activity>
        <activity
            android:name=".HotSkinQuestions"
            android:label="@string/title_activity_hot_skin_questions"
            android:parentActivityName=".FireBloodQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FireBloodQuestions" />
        </activity>
        <activity
            android:name=".RageQuestions"
            android:label="@string/title_activity_rage_questions"
            android:parentActivityName=".FireBloodQuestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dnunez.moodme.FireBloodQuestions" />
        </activity>
        <activity
            android:name=".Accomplished"
            android:label="@string/title_activity_accomplished"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Amused"
            android:label="@string/title_activity_amused"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Determined"
            android:label="@string/title_activity_determined"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Disappointed"
            android:label="@string/title_activity_disappointed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hopeful"
            android:label="@string/title_activity_hopeful"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shocked"
            android:label="@string/title_activity_shocked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Melancholy"
            android:label="@string/title_activity_melancholy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Depressed"
            android:label="@string/title_activity_depressed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Guilty"
            android:label="@string/title_activity_guilty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Frustrated"
            android:label="@string/title_activity_frustrated"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cranky"
            android:label="@string/title_activity_cranky"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Brooding"
            android:label="@string/title_activity_brooding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aggravated"
            android:label="@string/title_activity_aggravated"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PissedOff"
            android:label="@string/title_activity_pissed_off"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stressed"
            android:label="@string/title_activity_stressed"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
